.splash {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 9999;
    overflow: hidden;
}



.splash .splash_img {
    width: 400px;
    animation: zoomOut 3s forwards;
    animation-delay: 3s;
    transition: all 1s;
    /* 2s animation */
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(50);
        opacity: 0;
    }
}

