/* ================= NAV CONTAINER ================= */

.nav_main {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15px;
    z-index: 1000;
}

/* ================= NAV BAR ================= */

.nav {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: 6px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.12);
    transition: all 0.3s ease;
}

/* ================= MOVING PILL ================= */

.nav-pill {
    position: absolute;
    height: 42px;
    background: linear-gradient(#1E2939);
    border-radius: 9999px;
    transition: all 0.35s ease;
    pointer-events: none;

}

/* ================= NAV LINKS ================= */

.nav-link {
    position: relative;
    z-index: 10;
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: all 0.25s ease;
    border-radius: 9999px;
}

.nav-link:hover {
    color: #fcfafa;
}

/* ================= ACTIVE LINK ================= */

.nav-link.active {
    color: #fcf9f9;
    font-weight: 600;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
    .nav {
        gap: 4px;
    }

    .nav-link {
        padding: 9px 18px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .nav_main {
        top: auto;
        bottom: 20px;
    }

    .nav {
        padding: 8px;
    }

    .nav-link {
        padding: 8px 14px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .nav {
        max-width: 95%;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .nav::-webkit-scrollbar {
        display: none;
    }

    .nav-link {
        white-space: nowrap;
        padding: 7px 12px;
        font-size: 11px;
    }
}

/* ================= MOBILE MENU BUTTON ================= */

.mobile_menu_btn {
    display: none;
    position: fixed;
    top: 18px;
    right: 20px;
    font-size: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 1px;
    cursor: pointer;
    z-index: 1200;
}

/* ================= MOBILE SIDE MENU ================= */

.mobile_menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100vh;
    background: #0f172a;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: all 0.4s ease;
    z-index: 1100;
}

.mobile_menu.open {
    left: 0;
}

.mobile_link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Close Button */
.close_btn {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .desktop_nav {
        display: none;
    }

    .mobile_menu_btn {
        display: block;
    }
}