* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D242A;
    color: white;
}

.cursor-dot {
    position: fixed;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.5s ease-out;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.curosr_outline {
    position: fixed;
    padding: 10px;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    pointer-events: none;
    border: solid 1px white;
    transition: all 0.5s ease-out;
    transition-delay: 0.005s;
    z-index: 9999;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;


}